
nav {
  list-style-type: none;
  background-color: #9DC5BB;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  color: #6A5837;
  padding: 20px;
  font-size: 20px;
}

li {
  display: inline;
  padding: 50px
}

li:hover {
 background: #272838; 
}


